
/* ####################################################################### */
/* ##                                                                   ## */
/* ##  photos.css          Photo Page Style File           Stefan Kohl  ## */
/* ##                                                                   ## */
/* ####################################################################### */

body {
  color:            #FFFFFF;
  background-color: #000000;

  margin-top:     1cm;
  margin-bottom:  1cm;
  margin-left:    3mm;
  margin-right:   3mm;

  font-family: Helvetica,Verdana,Arial,sans-serif;
  font-size: 10pt;
}

h1 { text-align:    center;
     margin-bottom: 8mm; }

a:link    { color: #0000AE; background-color: #000000; text-decoration: none; }
a:visited { color: #0000AE; background-color: #000000; text-decoration: none; }
a:active  { color: #0000FF; background-color: #000000; text-decoration: none; }

hr { height: 0.3pt; }

/* ####################################################################### */
